@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/clouds.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

section{
    font-family: 'Train One', cursive;
    height: 100vh;
    position: fixed;
    left: 25%;
    right: 25%;
}

.score_board{
    color: #ffbb00;
    text-shadow: 1px 1px #3f2e00;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score_board h2{
    font-size: 33px;
}

.score_board p{
    text-align: center;
    padding: 11px;
    font-size: 25px;
}

.intro{
    color: #ffbb00;
    text-shadow: 1px 1px #3f2e00;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: opacity ease 0.5s;
    align-content: center;
}

.intro h1{
    text-align: center;
    font-size: 40px;
}

.intro button, .match button{
    width: 9rem;
    height: 3rem;
    background: none;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 1.1rem;
    font-family: cursive;
    background-color: #ff0088;
    cursor: pointer;
    margin: 2px;
}

.match{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 2px;
    background-color: rgb(255, 255, 255, 0);
    display: none;
}


.prompt{
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px #3f2e00;
}

.hands, .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7px;
    background-color: rgb(255, 255, 255, 0);
}

.player_hand{
    transform: rotateY(180deg);
    background-color: rgb(255, 255, 255, 0);
}

.comp_hand{
    background-color: rgb(255, 255, 255, 0);
}

#footer {
    height: 2vh;
    position: absolute;
    bottom: 5px;
}